/* global styles */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 30px;
    color: #5a5a5a;
}

/* customize the navbar */
/* special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}


/* customize the carousel */
/* carousel base class */
.carousel {
    height: 640px;
    margin-bottom: 60px;
}
/* since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* declare heights because of positioning of img element */
.carousel .item {
    height: 640px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 640px;
}

/* products content */
/* center align the text within the three columns below the carousel */
.generators .col-lg-4 {
    margin-bottom: 10px;
    text-align: center;
}
.generators h2 {
    font-weight: normal;
}
.generators .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* products */
.product-divider {
    margin: 20px 0; /* space out the bootstrap <hr> more */
}

/* thin out the product headings */
.product-heading {
    font-weight: normal;
    line-height: 1;
    letter-spacing: -1px;
}


/* responsive css */

@media (min-width: 768px) {
    /* navbar positioning */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .product-heading {
        font-size: 30px;
    }
}

@media (min-width: 992px) {
    .product-heading {
        margin-top: 100px;
    }
}