/*
author: babajide s adegbenro
description: simple one page responsive layout.
version: 1.0
 */

/* import google fonts (roboto slab */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

/* sticky footer style */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 0;
    position: relative;
    color: #000000!important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}
p, div {
    font-family: 'Roboto Slab', serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* fixed height of the footer*/
    height: 60px;
    background-color: #000000;
}

/* custom page css */
body > .container {
    padding: 0 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
/* sticky footer style */

/* responsive carousel img */
img {
    height: 85vh;
    width: 100%;
    object-fit: cover;
}

.lead {
    font-size: 120%;
}

/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }